* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sharp Grotesk', sans-serif;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('../src/assets/Sharp_Grotesk/SharpGrotesk-Medium20.otf') format('otf2'),
       url('../src/assets/Sharp_Grotesk/SharpGrotesk-Medium20.otf') format('woff');
}

body {
  /* background-color: #141414; */
  background-color: rgb(255, 255, 255);
  color: #141414;
}
