/* Small Screen */
.container {
  background-color: #141414;
  padding: 1rem;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__brand {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #e50914;
  cursor: pointer;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.navbar__item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.navbar__item:hover {
  color: #fa0000;
  border-bottom: #fa0000 solid transparent;
}

.navbar__auth {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

/* Medium Screen */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__brand {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .navbar__list {
    flex-direction: row;
    
  }

  .navbar__auth {
    flex-direction: row;
  }

  .navbar__item {
    color: #fff;
    text-decoration:none;
    margin: 0 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  /* 
     * Nothing TODO HERE.
     * We haven't styling Navbar.
     */
}
